!!!
%html

  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag

  %body
    = render_player({:video_url => @video.flv_url, :thumbnail_url => @video.medium_thumbnail_url, :progress_bar_color => "0x123456", :volume_bar_color => "0x123456"}) 