@import "mixins"

body
  background-color: $primary_color
  margin: 0px
  padding: 0px
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

body
  &.noheader
    #header
      display: none

  &.photo
    #header
      display: none

    #container
      width: 550px
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      moz-box-shadow: 0 0 5px 5px #888
      -webkit-box-shadow: 0 0 5px 5px #888
      box-shadow: 0 0 5px 5px #888

    &.montage
      background: image-url('lisa_montage.jpg')

    &.montage2
      background: image-url('lisa_montage2.jpg')

    &.polaroi
      background: image-url('lisa_polaroid.jpg')

a
  color: blue
  img
    border: none

.placeholder
  color: #666

.placeholderFocus
  color: #000

.clear
  clear: both
  height: 0
  overflow: hidden

#header
  margin: 0px
  width: 100%
  background: image-url('paper_bg.png') repeat-x
  height: 80px
  border: 1px solid white

  #nav
    margin: 5px auto
    width: 960px
    overflow: hidden

    div
      float: left
      width: 180px
      display: block
      padding: 1px
      text-align: center

    a
      +marker
      font-size: 16pt
      text-decoration: none
      color: lighten(black, 20%)
      margin-top: 15px
      display: block

      &:hover
        text-decoration: underline
        color: $red

    img
      width: 250px


#container
  width: 960px
  margin: 0 auto
  background: white
  padding: 20px 40px
  margin-top: 60px

  h1
    color: $red
    text-shadow: 1px 1px 1px rgba(0,0,0,.4)
    +macondo

#footer
  color: white
  font-size: 10pt
  background: black
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  width: 500px 
  padding: 5px
  margin: 150px auto 0px auto
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  filter: alpha(opacity=75) 
  -moz-opacity: 0.75
  -khtml-opacity: 0.75
  opacity: 0.75

  a
    color: white


#invite
  display: none
  width: 500px

  h1
    color: $red
    text-shadow: 1px 1px 1px rgba(0,0,0,.4)
    +macondo
    margin-bottom: 10px

  textarea
    width: 300px
    height: 100px
    background: #efefef
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border: 1px solid #c0c0c0
    padding: 10px
    margin-top: 3px
    font-size: 0.9em
    color: #3a3a3a

  a
    clear: both
    +submit_link

  .thanks
    display: none
    color: $red
    +marker

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 30px 0

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

.field_with_errors
  display: inline

  input
    border: red

.error_messages
  width: 400px
  padding: 0
  padding-bottom: 12px
  margin: 10px auto
  background-color: #f0f0f0
  border: 1px dashed gray
  +lilita
  font:
    size: 14pt
  
  h2
    display: none

  p
    margin: 8px 10px
    color: $red

  ul
    margin: 0
    list-style: none
