@import 'mixins'

#videos
	&.new
		position: relative
		#messages
			+marker
			font-size: 14pt
			margin-top: 15px
		
			.message
				display: none

			.highlight
				color: $red

			#failed
				background-color: #ffcccc
				border: solid 1px #cc6666
				padding: 5px